$white: #FFFFFF;
$black: #111;
$blue: #769bff;

$addcolor: #99d6c1;
$editcolor: #3C8DAD;
$deletcolor: #DDDDDD;
$errorcolor: #BC5449;

$gray:#a6a6a6;
$lightgray:#8d8d8d;
$brightblue: #1D584B;
$backgroundcolor:#F0F0F2;

$cellcolor1:#D9F2EB;
$cellcolor2:#C6E6EC;
$cellcolor3:#C9EDDD;
$cellcolor4:#E4F6E4;

$backgroundbluecolor:#D1DCF0;
$freecellcolor: #e7e8f4;
$deepblue:#182649;
$selectblue:#f1f6fa;
$grayblue:#F1F2F7;
$backgroundblue:#A7C8E2;
$cellfontcolor:#120F2E;
$darkblue:#384f62;

$mainblue:#6ca3cf;

$breakpoint-mobile: 500px;