@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  src: url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff2") format("woff2"), url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff") format("woff"), url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  src: url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff2") format("woff2"), url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff") format("woff"), url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0020-007E;
  src: url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-regular.woff2") format("woff2"), url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-regular.woff") format("woff"), url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0020-007E;
  src: url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-600.woff2") format("woff2"), url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-600.woff") format("woff"), url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-600.ttf") format("truetype");
}

body {
  font-family: "Noto Sans CJK KR";
  margin: 0;
  background: #FFFFFF;
}

body #root #app {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

nav #logoutbtn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: -670px;
  font-size: 16px;
  cursor: pointer;
}

nav #logoutbtn:hover {
  opacity: 0.5;
}

nav #printbtn {
  font-weight: bold;
  font-size: 20px;
  margin-right: -210px;
  cursor: pointer;
}

nav #printbtn:hover {
  opacity: 0.5;
}

#control-view {
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 500px;
  width: 900px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

#control-view #date-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#control-view #date-controller #date-view {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

#control-view #date-controller #date-view:hover {
  opacity: 0.5;
}

#control-view #date-controller .arrow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#control-view #date-controller .arrow-btn img {
  max-width: 100%;
  color: #FFFFFF;
}

#control-view #date-controller .arrow-btn:hover {
  opacity: 0.5;
}

#control-view #mode-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 470px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

#control-view #mode-controller #mode-btn {
  border-radius: 10px;
  background-color: #F1F2F7;
  margin: 6px;
  cursor: pointer;
  width: 70px;
  height: 50px;
  text-align: center;
}

#control-view #mode-controller #mode-btn:hover {
  -webkit-box-shadow: 1px 1px 20px #ddd;
          box-shadow: 1px 1px 20px #ddd;
}

#control-view #mode-controller #mode-btn .iconbtn {
  color: #6ca3cf;
  margin-top: 11px;
  font-size: 15px;
}

#control-view #mode-controller #mode-btn .mode-title {
  margin-top: 1px;
  font-size: 9px;
  color: #8d8d8d;
}

#control-view #mode-controller .active {
  opacity: 0.5;
}

#calendar-view {
  min-width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
}

#panel #add-form {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 400px;
  background: #F1F2F7;
  color: #111;
  border-radius: 10px;
  padding: 20px;
}

#panel #add-form .label {
  font-weight: bold;
  color: #111;
  margin-right: 5px;
}

#panel #add-form #add-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 20px;
}

#panel #add-form #input-date-picker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
}

#panel #add-form #input-date-picker-form #input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#panel #add-form #input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#panel #add-form #input-form #input-title {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 18px;
}

#panel #add-form #date-picker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  margin-bottom: 20px;
}

#panel #add-form #date-picker-form #date-picker input {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 18px;
}

#panel #add-form #hour-picker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 300px;
  margin: 5px auto;
}

#panel #add-form #hour-picker-form select {
  margin-right: 5px;
}

#panel #add-form #option-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#panel #add-form #option-form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #111;
  width: 60px;
  cursor: pointer;
  color: #111;
  font-weight: bold;
}

#panel #add-form #option-form .btn:hover {
  opacity: 0.5;
}

#panel #add-form #option-form #cancel-btn {
  background: #D1DCF0;
  border-color: #D1DCF0;
  color: #384f62;
}

#panel #add-form #option-form #add-btn {
  background: #D1DCF0;
  border-color: #D1DCF0;
  color: #384f62;
}

#panel #add-form #option-form #edit-btn {
  background: #D1DCF0;
  border-color: #D1DCF0;
  color: #384f62;
}

#panel #add-form #option-form #delete-btn {
  background: #D1DCF0;
  border-color: #D1DCF0;
  color: #384f62;
}

#error-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 4;
}

#error-panel #error-popup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#error-panel #error-popup p {
  font-size: 15px;
}

#error-panel .add {
  background: #99d6c1;
}

#error-panel .edit {
  background: #3C8DAD;
}

#error-panel .fail {
  background: #e4a99f;
}

#error-panel .delete {
  background: #DDDDDD;
}

@media screen and (max-width: 500px) {
  #app {
    width: 100%;
  }
}
