@import "./variables";


@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  src: url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff") format("woff"),
    url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf")
      format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  src: url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff2")
      format("woff2"),
    url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff") format("woff"),
    url("../style/fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0020-007E;
  src: url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-regular.woff2")
      format("woff2"),
    url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-regular.woff")
      format("woff"),
    url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0020-007E;
  src: url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-600.woff2")
      format("woff2"),
    url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-600.woff")
      format("woff"),
    url("../style/fonts/open-sans-v20-latin/open-sans-v20-latin-600.ttf")
      format("truetype");
}

body {
  font-family: "Noto Sans CJK KR";
  margin: 0;
  background: $white;
  
  #root {
    #app {
      width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }
  }
}
#logoutbtn {
  margin-top: 10px;
  font-size: 16px;
  margin-right: 1340px;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}
#control-view {
  margin-top: 25px;
  margin-bottom: 70px;
  margin-left: 500px;
  width: 900px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $black;

  #date-controller {
    display: flex;
    width: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    #date-view {
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      &:hover {
        opacity: 0.5;
      }
    }

    .arrow-btn {
      display: flex;
      width: 25px;
      align-items: center;
      justify-content: center;
    
      cursor: pointer;
      img {
        max-width: 100%;
        color: $white;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }

  #mode-controller {
    display: flex;
    width: 470px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    #mode-btn {
      border-radius: 10px;
      background-color: $grayblue;
      margin: 6px;
      cursor: pointer;
      width: 70px;
      height: 50px;
      text-align: center;
      &:hover {
        box-shadow: 1px 1px 20px #ddd;
      }
      .iconbtn {
        color: $mainblue;
        margin-top: 11px;
        font-size: 15px;
      }
      .mode-title {
        margin-top: 1px;
        font-size: 9px;
        color: $lightgray;
      }
    }
    .active {
      opacity: 0.5;

    }
  }
}

#calendar-view {
  min-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
  //overflow: scroll;
}

#panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;

  #add-form {
    // position: absolute;
    // top: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    // height: 100px;
    background: $grayblue;
    color: $black;
    border-radius: 10px;
    padding: 20px;

    .label {
      font-weight: bold;
      color: $black;
      margin-right: 5px;
    }

    #add-form-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: center;
      font-weight: bold;
      margin-bottom: 30px;
      font-size: 20px;
    }

    #input-date-picker-form {
      display: flex;
      margin: 5px auto;
      #input-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
      }
    }

    #input-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      #input-title {
        margin: 0;
        padding: 0;
        width: 120px;
        height: 18px;
      }
    }

    #date-picker-form {
      display: flex;
      align-items: center;
      margin-left: 5px;
      margin-bottom: 20px;
      #date-picker {
        input {
          margin: 0;
          padding: 0;
          width: 120px;
          height: 18px;
          // text-align: center;
        }
      }
    }

    #hour-picker-form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      width: 300px;
      margin: 5px auto;

      select {
        margin-right: 5px;
      }
    }

    #option-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-radius: 5px;
        border: solid 1px $black;
        width: 60px;

        cursor: pointer;
        color: $black;
        font-weight: bold;
        &:hover {
          opacity: 0.5;
        }
      }
      #cancel-btn {
        background: $backgroundbluecolor;
        border-color: $backgroundbluecolor;
        color: $darkblue;
      }

      #add-btn {
        background: $backgroundbluecolor;
        border-color: $backgroundbluecolor;
        color: $darkblue;
      }
      #edit-btn {
        background: $backgroundbluecolor;
        border-color: $backgroundbluecolor;
        color: $darkblue;
      }

      #delete-btn {
        background: $backgroundbluecolor;
        border-color: $backgroundbluecolor;
        color: $darkblue;
      }
    }
  }
}

#error-panel {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 4;
  #error-popup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;


    p {
      font-size: 15px
    }

  }

  .add {
    background: $addcolor;
  }
  .edit {
    background: $editcolor;
  }
  .fail {
    background: $errorcolor;
  }
  .delete {
    background: $deletcolor;

  }
}

@media screen and (max-width: $breakpoint-mobile) {
  #app{
    width: 100%;
   
  }
}