body {
  margin: 0;
  background: #FFFFFF;
}

body #root #app {
  width: 2100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#control-view {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 600px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

#control-view #week-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2000px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#control-view #week-controller #date-view {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#control-view #week-controller #date-view:hover {
  opacity: 0.5;
}

#control-view #week-controller .arrow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#control-view #week-controller .arrow-btn img {
  max-width: 100%;
  color: #FFFFFF;
}

#control-view #week-controller .arrow-btn:hover {
  opacity: 0.5;
}

#control-view #mode-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

#control-view #mode-controller #mode-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  cursor: pointer;
}

#control-view #mode-controller #student-add {
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  cursor: pointer;
}

#control-view #mode-controller #timetable {
  width: 70px;
  margin: 5px;
  cursor: pointer;
}

#control-view #mode-controller:hover {
  opacity: 0.5;
}

#control-view #mode-controller .active {
  font-size: 20px;
}

#calendar-view {
  min-width: 2100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
}

#panel #add-form {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 400px;
  background: #F1F2F7;
  color: #111;
  border-radius: 10px;
  padding: 20px;
}

#panel #add-form .label {
  font-weight: bold;
  color: #111;
  margin-right: 5px;
}

#panel #add-form #add-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 20px;
}

#panel #add-form #input-date-picker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
}

#panel #add-form #input-date-picker-form #input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#panel #add-form #input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#panel #add-form #input-form #input-title {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 18px;
}

#panel #add-form #date-picker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  margin-bottom: 20px;
}

#panel #add-form #date-picker-form #date-picker input {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 18px;
}

#panel #add-form #hour-picker-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 300px;
  margin: 5px auto;
}

#panel #add-form #hour-picker-form select {
  margin-right: 5px;
}

#panel #add-form #option-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#panel #add-form #option-form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #111;
  width: 60px;
  cursor: pointer;
  color: #111;
  font-weight: bold;
}

#panel #add-form #option-form .btn:hover {
  opacity: 0.5;
}

#panel #add-form #option-form #cancel-btn {
  background: #A7C8E2;
  border-color: #A7C8E2;
  color: #182649;
}

#panel #add-form #option-form #add-btn {
  background: #A7C8E2;
  border-color: #A7C8E2;
  color: #182649;
}

#panel #add-form #option-form #edit-btn {
  background: #A7C8E2;
  border-color: #A7C8E2;
  color: #182649;
}

#panel #add-form #option-form #delete-btn {
  background: #A7C8E2;
  border-color: #A7C8E2;
  color: #182649;
}

#error-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 4;
}

#error-panel #error-popup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.8;
}

#error-panel .add {
  background: #769bff;
}

#error-panel .edit {
  background: #FFFFFF;
}

#error-panel .fail {
  background: #ef7a8b;
}

#error-panel .delete {
  background: #111;
  color: #FFFFFF;
}
