$white: #FFFFFF;
$black: #111;
$red: #ef7a8b;
$blue: #769bff;
$green: #a5d6a7;
$gray:#a6a6a6;
$brightblue: #1D584B;
$backgroundcolor:#F0F0F2;

$cellcolor1:#D9F2EB;
$cellcolor2:#C6E6EC;
$cellcolor3:#C9EDDD;
$cellcolor4:#E4F6E4;

$backgroundbluecolor:#D1DCF0;
$deepblue:#182649;

$grayblue:#F1F2F7;
$backgroundblue:#A7C8E2;
$cellfontcolor:#120F2E;

#daily-view {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 50px; 
    #main-class,#free-class{
        width:100%;
        #daily-main-class,#daily-free-class{
            font-size:13px;
        }
        .daily-schedule{
            font-size:12px;
            cursor: pointer;
            border-radius: 5px;
            margin:5px 0px 5px 5px;
            background-color:$backgroundbluecolor;
            display: flex;
            padding:7px;

            .daily-hour{
                width:39px;
                margin-left:20px;
                font-weight:bold;
                letter-spacing: 1.5px;

                }
            .daily-title{
                width:160px;
                font-weight:bold;
                margin-left:30px;
            }
            .daily-student{
                margin-left:250px;
                display: block;
            }
            &:hover {
                opacity: 0.5;
            }
        }
        
    }
  

        
}