#daily-view {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
}

#daily-view #free-class .daily-schedule {
  background-color: #e7e8f4;
}

#daily-view #main-class .daily-schedule {
  background-color: #D1DCF0;
}

#daily-view #main-class, #daily-view #free-class {
  width: 100%;
}

#daily-view #main-class #daily-main-class, #daily-view #main-class #daily-free-class, #daily-view #free-class #daily-main-class, #daily-view #free-class #daily-free-class {
  font-size: 13px;
}

#daily-view #main-class .daily-schedule, #daily-view #free-class .daily-schedule {
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px;
}

#daily-view #main-class .daily-schedule .daily-hour, #daily-view #free-class .daily-schedule .daily-hour {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 39px;
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#daily-view #main-class .daily-schedule .daily-title, #daily-view #free-class .daily-schedule .daily-title {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 120px;
  font-weight: bold;
  margin-left: 30px;
}

#daily-view #main-class .daily-schedule .daily-student, #daily-view #free-class .daily-schedule .daily-student {
  margin-left: 10px;
  display: block;
}

#daily-view #main-class .daily-schedule .daily-student p, #daily-view #free-class .daily-schedule .daily-student p {
  margin-top: 1em;
  margin-bottom: 1em;
}

#daily-view #main-class .daily-schedule:hover, #daily-view #free-class .daily-schedule:hover {
  opacity: 0.5;
}
