#daily-view-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#daily-view-parent #daily-view {
  width: 684px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
}

#daily-view-parent #daily-view #date-str {
  margin-bottom: 5px;
  font-size: 15px;
  margin-left: 5px;
}

#daily-view-parent #daily-view #main-class .daily-schedule {
  background-color: #D1DCF0;
}

#daily-view-parent #daily-view #free-class {
  margin-top: 27px;
}

#daily-view-parent #daily-view #free-class .daily-schedule {
  background-color: #e7e8f4;
}

#daily-view-parent #daily-view #main-class,
#daily-view-parent #daily-view #free-class {
  width: 342px;
}

#daily-view-parent #daily-view #main-class #daily-main-class,
#daily-view-parent #daily-view #main-class #daily-free-class,
#daily-view-parent #daily-view #free-class #daily-main-class,
#daily-view-parent #daily-view #free-class #daily-free-class {
  font-size: 13px;
  margin-left: 5px;
}

#daily-view-parent #daily-view #main-class .daily-schedule,
#daily-view-parent #daily-view #free-class .daily-schedule {
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#daily-view-parent #daily-view #main-class .daily-schedule .daily-hour,
#daily-view-parent #daily-view #free-class .daily-schedule .daily-hour {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 39px;
  margin-left: 10px;
  margin-right: 3px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#daily-view-parent #daily-view #main-class .daily-schedule .daily-hour p,
#daily-view-parent #daily-view #free-class .daily-schedule .daily-hour p {
  margin-bottom: 0px;
}

#daily-view-parent #daily-view #main-class .daily-schedule .daily-title,
#daily-view-parent #daily-view #free-class .daily-schedule .daily-title {
  width: 80px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0px;
}

#daily-view-parent #daily-view #main-class .daily-schedule .daily-student,
#daily-view-parent #daily-view #free-class .daily-schedule .daily-student {
  margin-left: 10px;
  display: block;
}

#daily-view-parent #daily-view #main-class .daily-schedule .daily-student p,
#daily-view-parent #daily-view #free-class .daily-schedule .daily-student p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#daily-view-parent #daily-view #main-class .daily-schedule:hover,
#daily-view-parent #daily-view #free-class .daily-schedule:hover {
  opacity: 0.5;
}
