@import "./variables";


#student-view {
    width: 1200px;
    overflow: auto;
    justify-content: center;
    box-sizing: border-box;
    //border: solid 0.5px #111;
    margin-bottom: 50px; 
    font-size:16px;
    #student-table {
        width: 100%;
        border-collapse: collapse;
        td,th {
            width:180px;
            border-bottom: 2px solid $deepblue;
            height:50px;
            text-align: center;
            padding:10px;
            #input-insert-age{
                width:70px;
            }
            #input-update-name{
                width:70px;
            }
            #input-update-age{
                width:50px;
            }
        }
        td{
            border-bottom: 1px solid #dddddd;

        }
    }
    

}