#timetable-view {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  background-color: #FFFFFF;
}

#timetable-view ::-webkit-scrollbar {
  display: none;
}

#timetable-view .hour-col {
  width: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 0.5px #a6a6a6;
  border-top: solid 0.5px #a6a6a6;
  border-left: solid 0.5px #a6a6a6;
  border-bottom: solid 0.5px #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#timetable-view .hour-col .hour-cell {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#timetable-view .hour-col .hour-cell:nth-child(1) {
  height: 40px;
}

#timetable-view .hour-col .hour-cell:nth-child(2) {
  height: 100px;
}

#timetable-view .hour-col .hour-cell:nth-child(5) {
  height: 300px;
}

#timetable-view .hour-col .hour-cell:nth-child(6) {
  height: 300px;
}

#timetable-view .hour-col .hour-cell:nth-child(9) {
  height: 100px;
}

#timetable-view .weekly-col {
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 0.5px #a6a6a6;
  border-top: solid 0.5px #a6a6a6;
  border-bottom: solid 0.5px #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#timetable-view .weekly-col .free-timetable-cell .weekly-schedule {
  background-color: #e7e8f4;
  border: solid 1px #e7e8f4;
}

#timetable-view .weekly-col .free-timetable-cell .weekly-schedule .week-title {
  font-weight: bold;
  margin-left: 5px;
  background-color: #e7e8f4;
}

#timetable-view .weekly-col .main-timetable-cell .weekly-schedule {
  background-color: #D1DCF0;
  border: solid 1px #D1DCF0;
}

#timetable-view .weekly-col .main-timetable-cell .weekly-schedule .week-title {
  font-weight: bold;
  background-color: #D1DCF0;
}

#timetable-view .weekly-col .weekly-cell {
  width: 100%;
  height: 200px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  overflow-y: auto;
}

#timetable-view .weekly-col .weekly-cell .weekly-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #120F2E;
  font-size: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  z-index: 3;
  cursor: pointer;
}

#timetable-view .weekly-col .weekly-cell .weekly-schedule:hover {
  opacity: 0.5;
}

#timetable-view .weekly-col .weekly-cell .weekly-schedule p {
  width: 57px;
  margin: 0;
}

#timetable-view .weekly-col .weekly-cell .weekly-schedule .start-end-hour {
  margin-right: 3px;
  margin-left: 3px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#timetable-view .weekly-col .weekly-cell .weekly-schedule .start-end-hour p {
  display: inline;
  font-size: 10px;
}

#timetable-view .weekly-col .weekly-cell .weekly-schedule .student-name p {
  display: inline-block;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-left: 1.6px;
  margin-right: 1.6px;
  width: 46px;
}

#timetable-view .weekly-col .weekly-cell:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

#timetable-view .weekly-col .weekly-cell:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  border-bottom: solid 2px gray;
}

#timetable-view .weekly-col .weekly-cell:nth-child(3) {
  height: 100px;
}

#timetable-view .weekly-col .weekly-cell:nth-child(6) {
  height: 300px;
}

#timetable-view .weekly-col .weekly-cell:nth-child(7) {
  height: 300px;
}

#timetable-view .weekly-col .weekly-cell:nth-child(10) {
  height: 100px;
}

#timetable-view .weekly-col .weekly-cell:nth-child(n + 3) {
  border-bottom: solid 1px #a6a6a6;
}

#timetable-view .weekly-col .sunday {
  color: #ef7a8b;
}

#timetable-view .weekly-col .saturday {
  color: #769bff;
}
