#weekly-view-btn #timetable-call-btn {
  margin-left: 1500px;
  margin-bottom: 10px;
}

#weekly-view-btn #weekly-view {
  max-width: 2100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  background-color: #ffffff;
}

#weekly-view-btn #weekly-view ::-webkit-scrollbar {
  display: none;
}

#weekly-view-btn #weekly-view .hour-col {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 0.5px #a6a6a6;
  border-top: solid 0.5px #a6a6a6;
  border-left: solid 0.5px #a6a6a6;
  border-bottom: solid 0.5px #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weekly-view-btn #weekly-view .hour-col .hour-cell {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weekly-view-btn #weekly-view .hour-col .hour-cell:nth-child(1) {
  height: 30px;
}

#weekly-view-btn #weekly-view .hour-col .hour-cell:nth-child(2) {
  height: 30px;
  border-bottom: solid 2px #a6a6a6;
}

#weekly-view-btn #weekly-view .weekly-col {
  width: 334px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 0.5px #a6a6a6;
  border-top: solid 0.5px #a6a6a6;
  border-bottom: solid 0.5px #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  overflow-y: auto;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  background-color: #d1dcf0;
  border: solid 1px #d1dcf0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #120f2e;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  z-index: 3;
  cursor: pointer;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule:hover {
  opacity: 0.5;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule p {
  width: 85px;
  margin: 0;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule .week-title {
  font-weight: bold;
  background-color: #d1dcf0;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule .start-end-hour {
  margin-right: 8px;
  margin-left: 8px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule .start-end-hour p {
  display: inline;
  font-size: 15px;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell .weekly-schedule .student-name p {
  display: inline;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 1.6px;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border-bottom: solid 2px gray;
}

#weekly-view-btn #weekly-view .weekly-col .weekly-cell:nth-child(n + 3) {
  border-bottom: solid 1px #a6a6a6;
}

#weekly-view-btn #weekly-view .weekly-col .sunday {
  color: #ef7a8b;
}

#weekly-view-btn #weekly-view .weekly-col .saturday {
  color: #769bff;
}
