#weekly-view #timetable-call-btn {
  margin-left: 1250px;
  margin-bottom: 10px;
}

#weekly-view #weekly-view {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  background-color: #ffffff;
}

#weekly-view #weekly-view ::-webkit-scrollbar {
  display: none;
}

#weekly-view #weekly-view .hour-col {
  width: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 0.5px #a6a6a6;
  border-top: solid 0.5px #a6a6a6;
  border-left: solid 0.5px #a6a6a6;
  border-bottom: solid 0.5px #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weekly-view #weekly-view .hour-col .hour-cell {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weekly-view #weekly-view .hour-col .hour-cell:nth-child(1) {
  height: 20px;
}

#weekly-view #weekly-view .hour-col .hour-cell:nth-child(2) {
  height: 20px;
  border-bottom: solid 2px #a6a6a6;
}

#weekly-view #weekly-view .weekly-col {
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 0.5px #a6a6a6;
  border-top: solid 0.5px #a6a6a6;
  border-bottom: solid 0.5px #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weekly-view #weekly-view .weekly-col .main-weekly-cell .weekly-schedule {
  background-color: #d1dcf0;
  border: solid 1px #d1dcf0;
}

#weekly-view #weekly-view .weekly-col .main-weekly-cell .weekly-schedule .week-title {
  font-weight: bold;
  margin-left: 5px;
  background-color: #d1dcf0;
}

#weekly-view #weekly-view .weekly-col .free-weekly-cell .weekly-schedule {
  background-color: #e7e8f4;
  border: solid 1px #e7e8f4;
}

#weekly-view #weekly-view .weekly-col .free-weekly-cell .weekly-schedule .week-title {
  font-weight: bold;
  margin-left: 5px;
  background-color: #e7e8f4;
}

#weekly-view #weekly-view .weekly-col .weekly-cell {
  width: 100%;
  height: 200px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  overflow-y: auto;
}

#weekly-view #weekly-view .weekly-col .weekly-cell .weekly-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #120f2e;
  font-size: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  z-index: 3;
  cursor: pointer;
}

#weekly-view #weekly-view .weekly-col .weekly-cell .weekly-schedule:hover {
  opacity: 0.5;
}

#weekly-view #weekly-view .weekly-col .weekly-cell .weekly-schedule p {
  width: 57px;
  margin: 0;
}

#weekly-view #weekly-view .weekly-col .weekly-cell .weekly-schedule .start-end-hour {
  margin-right: 3px;
  margin-left: 3px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#weekly-view #weekly-view .weekly-col .weekly-cell .weekly-schedule .start-end-hour p {
  display: inline;
  font-size: 10px;
}

#weekly-view #weekly-view .weekly-col .weekly-cell .weekly-schedule .student-name p {
  display: inline-block;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-left: 1.6px;
  margin-right: 1.6px;
  width: 46px;
}

#weekly-view #weekly-view .weekly-col .weekly-cell:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

#weekly-view #weekly-view .weekly-col .weekly-cell:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  border-bottom: solid 2px gray;
}

#weekly-view #weekly-view .weekly-col .weekly-cell:nth-child(n + 3) {
  border-bottom: solid 1px #a6a6a6;
}

#weekly-view #weekly-view .weekly-col .sunday {
  color: #ef7a8b;
}

#weekly-view #weekly-view .weekly-col .saturday {
  color: #769bff;
}
